*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* background colors */
  --main-background-color: hsl(233, 47%, 7%);
  --card-background-color: hsl(244, 38%, 16%);
  --violet-accent: hsl(277, 64%, 61%);
  /* font colors */
  --heading-stats: hsl(0, 0%, 100%);
  --main-paragraph: hsla(0, 0%, 100%, 0.75);
  --stat-headings: hsla(0, 0%, 100%, 0.6);
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--main-background-color);
}

img#desktop {
  position: absolute;
  opacity: 60%;
  top: -24px;
  left: 177px;
  /* border: 1px red solid; */
}

img#mobile {

}
main {
  display: flex;
  justify-content: center;
  height: 445px;
  border-radius: 7px;
  overflow: hidden;
  margin: 150px 0;
  border: 1px red solid;
}

.card.info {
  display: flex;
  flex-direction: column;
  width: 570px;
  padding: 75px 110px 75px 75px;
  background-color: var(--card-background-color);
  color: hsl(0, 0%, 100%);
  font-family: 'Inter', sans-serif;
  font-size: 15px;

}
.card.info h1 {
  font-size: 2.25rem;
}
.card.info h1 span {
  color: #ac5dd9;
}
.card.info p {
  margin-top: 6%;
  color: var(--stat-headings);
  line-height: 1.7em;
}
.card.info .stats {
  display: flex;
  margin-top: 19%;
  text-transform: uppercase;
}
.card.info .stat {
  display: flex;
  flex-direction: column;
  margin-right: 65px;
}
.card.info .stat h2 {
  font-family: 'Inter', sans-serif;
}
.card.info .stat p{
  font-family: 'Lexend Deca', sans-serif;
  font-size: 13px;
}

.card.image {
  width: 540px;
  background-image: url("./images/image-header-desktop.jpg");
  background-color: hsl(277, 64%, 61%);
  background-blend-mode: multiply;
  opacity: 80%;
  /* filter: contrast(.85) saturate(0.95) brightness(1.3); */
  filter: contrast(.87) saturate(0.99) brightness(1.2);
  background-size: cover;
}

/* For mobile */
@media (max-width: 1142px) {
  main {
    display: flex;
    flex-direction: column-reverse;
    width: 330px;
    margin-top: 10%;
  }

  .card {
    text-align: center;
  }
  
  .card.image {
    height: 240px;
  }

  .card.info {
    width: auto;
    height: 540px;
    padding: 10%;
  }
  .card.info h1 {
    font-size: 1.7rem;
    font-weight: 600;
  }
  .card.info p {
    margin-top: 7%;
  }
  .card.info .stats {
    flex-direction: column;
    margin-top: 5%;
  }
  .card.info .stat {
    margin: 8% 0 0;
  }
  .card.info .stat p {
    margin-top: 3%;
  }
}
